@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap");
.main-body {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body h1 {
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Pattaya", sans-serif;
}
.info {
  margin: 15px 0;
}
.info h2 {
  display: inline-block;
  margin: 0 10px;
  font-size: 2rem;
  font-family: "Farro", sans-serif;
}

.profile-container {
  position: relative;
  width: 100%;
}
.profile {
  width: 100%;
}
