html.login-html {
  background-image: url("image/background.jpg");
  background-size: cover;
}

.login-page_title {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  font-family: "Girassol", cursive;
}
.login-page__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  opacity: 0.75;
}
.login-page__login input {
  width: 400px;
}
.user-info {
  padding: 15px 0;
}

.login-page__login-btn {
  height: 40px;
  width: 404px;
  padding: 6px 0px;
}
.login-page__login-stay {
  display: block;
  width: 404px;
  margin-top: 10px;
  text-align: start;
}
