.layout-main {
  position: relative;
  top: 100px;
  left: 20%;
  right: 20%;
  z-index: -1;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.layout-wrap {
  padding: 10px;
  border: black 1px solid;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}
.layout-wrap::first-line {
  text-align: center;
}
.layout-wrap__underLine {
}
