.inquire {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.tutor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tutor-info span:first-child {
  font: 20px bold;
}

.inquire-input {
  display: flex;
  width: 400px;
  flex-direction: column;
}
.inquire-input > input {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  margin: 4px 0;
}

.inquire-input > div {
  display: flex;
}
.table-box {
  display: flex;
  justify-content: space-between;
}
.table-input {
  display: flex;
  width: 200px;
  flex-direction: column;
}
.table-input:nth-child(1) {
  margin-right: 10px;
}
.table-input input {
  box-sizing: border-box;
  height: 40px;
  margin: 4px 0;
  width: 100%;
}
#message {
  height: 200px;
}
label {
  margin-top: 4px;
}
div span {
  margin-top: 5px;
  margin-bottom: 5px;
}
