.inquire {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.tutor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tutor-info span:first-child {
  font: 20px bold;
}

.inquire-input {
  display: flex;
  flex-direction: column;
}
.inquire-input > input {
  width: 300px;
}
.inquire-input > div {
  display: flex;
}
.table-input {
  display: flex;
  flex-direction: column;
}

.input-value {
  margin: 4px 0;
}
